*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.book{
    position: relative;
    padding-bottom: 30px;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(assets/img/bg2.jpg);
    background-size: cover;
}
.book .content h2{
    position: center;
font-size: 36px;
font-weight: 500;
color: #fff;
}


    .fillup{
        width: 40%;
        padding: 40px;
        background: #fff;
    }

    .fillup .inputBox{
        position: relative;
        width: 100%;
        margin-top: 15px;
    }

    .fillup .inputBox input{
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid;
        outline: none;
    }
    .fillup .inputBox span{
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        color: #000000;
        font: bold;
    }
    .inputBox input[type="submit"] {
        color: #fff;
        background-color: aqua;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: 0.5s;
      }
      .inputBox input[type="submit"]:hover {
        background-color: #389ac7;
      }
      .book .backhomepage{
        background: transparent;
      }
      
      .book .backhomepage button{
        font-size: 1px;
        position: right;
        align-items: right;
        background-color: transparent;
        transition: 0.5s;
        color: #000000;
        border: none;
        font-size: 17px;
      }
      .book .backhomepage button:hover{
        color: rgb(255, 255, 255);
      }
      .inputBox button{
        background-color: #3564c4;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        padding: 10px 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      }

      .popup {
        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
         visibility: hidden;
         transition: transform 0.4s, top 0.4s;
      }
      .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      }

      .popup button{
        background-color: #3564c4;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

      }
      .popup h2{
        font-size: 38px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }

      .popup h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
      }

